
.source-div,.service-div{
    position: relative;
}

.hiddenSource,.hiddenService,.hiddenHelp{
    display: none;
    position: absolute;
    background: rgb(99, 99, 99) !important;
    z-index: 10;
    color: rgb(255, 255, 255);
    box-shadow: 0.5px 0.5px 3px rgb(206, 202, 202);
    top: 32px;
    border-radius: 4px;
}
.hiddenSource{
    left: 18px;
    width: 600px;
}
.hiddenService{
    left: 10px;
    padding: 10px;
    width: 600px;
}
.hiddenHelp{
    width: 400px;
}
.source-div:hover .hiddenSource{
   display: block !important;
  
}

.txt-div p{
    margin: 4px;
}

.service-div:hover .hiddenService{
    display: block !important;
   
 }

 .service-div:hover .hiddenHelp{
    display: block !important;
   
 }
 